body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color:#434455;
    background-color: #FFFFFF;
}

.order-title{
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
}
ul{
    list-style:none ;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
}

.list-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.order-button{
background-color: #4D5AE5;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.order-button:hover{
    background-color: #404BBF;
}

.order-button:focus {
    background-color: #404BBF;
}

a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: underline;
}

.site-logo{
    font-family: "Raleway", sans-serif;
    color:#4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.site-logo-2 {
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

nav a{
    text-decoration: none;
    letter-spacing: 0.02em
}

.site-logo:hover{
    color:#404bbf;
}
.site-logo:focus{
    color:#404bbf;
}

.menu-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color:#2E2F42;
}

.menu-link:hover{
    color:#404BBF;
}

.menu-link:focus {
    color: #404BBF;
}

.adres{
    font-style: normal;
}
.font a{
    color: #434455;
    text-decoration: none;
}

.adres-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.adres-link:hover{
    color:#404bbf;
    
}
.adres-link:focus {
    color: #404BBF
}

.order{
    background-color: #2E2F42;
    color:white;
}

.team h2{
    color:#2E2F42;

}

.team{
    background-color: #F4F4FD;
}

.portfolio h2 {
    color: #2E2F42;
}
.portfolio h3{
    color:#2E2F42;
}
.portfolio p {
    color: #434455;
}

footer{
    background-color: #2E2F42;
    color:#F4F4FD;
}

footer .logo2{
    color:#F4F4FD;
}